<div
    id="background"
>
    <div class="main-register">
        <div class="left-register">
            <h1>
                Faça seu Registro
            </h1>
            <img id="register-icon" src="../../../../assets/digital-nomad-animate.svg" alt="register icon">
        </div>
        <div class="right-register">
            <form method="post" id="register-form">
                <div class="input-form">
                    <label for="username">Nome de Usuário</label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Usuário"
                        required
                    >
                </div>
                <div class="input-form">
                    <label for="password">Senha</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Senha"
                        required
                    >
                </div>
                <button class="btn-form">
                    Registre-se
                </button>
            </form>
        </div>
    </div>
</div>
