@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

.navbar {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(239, 239, 239);
    font-family: Montserrat,sans-serif;
    font-size: 16px;
}

.hamburguer {
    height: 65%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.hamburguer:hover {
    cursor: pointer;
}

.bar {
    padding: 2px 15px;
    background-color: rgba(0, 0, 0, 0.587);
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.2s;
}

.left-navbar {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brightest-hell-logo {
    width: auto;
    height: 80%;
}

.navbar-links {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-links > a{
    margin: 0px 3%;
    text-decoration: none;
    color: rgb(102, 102, 102);
    padding: 10px;
}

.navbar-links > a:hover{
    color: black;
}

.right-navbar {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}

#perfil-img {
    width: auto;
    height: 90%;
    border-radius: 50%;
}

@media only screen and (max-width: 900px) {
    .navbar-logo {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-links {
        width: 50vw;
        position: fixed;
        right: 100vw;
        top: 7.7vh;
        flex-direction: column;
        background-color: rgba(193, 193, 193, 0.827);
        transition: all 0.3s;
    }

    .navbar-links > a {
        padding: 6px 0px;
        margin: 0;
        margin-left: 20px;
        margin-top: 10px;
        width: 44vw;
        margin-bottom: 3px;
        font-weight: 600;
        transition: all 0.2s;
    }

    .navbar-links > a:hover {
        color: rgb(144, 144, 144);
    }

    .navbar-links.activate {
        right: 50vw;
        box-shadow: 30vw 2.5px 200px 0px rgba(0, 0, 0, 0.571);
    }

    .hamburguer {
        display: flex;
    }

    .hamburguer.activate .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.activate .bar:nth-child(1) {
        transform: translateY(1.75vh) rotate(45deg);
    }

    .hamburguer.activate .bar:nth-child(3) {
        transform: translateY(-1.75vh) rotate(-45deg);
    }
}