@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap');

.navbar {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(239, 239, 239);
    font-family: Montserrat,sans-serif;
    font-size: 16px;
}

.left-navbar {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brightest-hell-logo {
    width: auto;
    height: 80%;
}

.navbar-links {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.231);
}

.navbar-links > a{
    margin: 0px 3%;
    text-decoration: none;
    color: rgb(102, 102, 102);
    padding: 10px;
}

.navbar-links > a:hover{
    color: black;
}

.right-navbar {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}

#perfil-img {
    width: auto;
    height: 90%;
    border-radius: 50%;
}

@media only screen and (max-width: 900px) {
    
}